/***********************************
 ********* Global CSS Code *********

 1. Global Style
 2. About pages style
 **********************************/

// Tools
@import "_tools/variables";
@import "_tools/mixins";
@import "_tools/helpers";
@import "node_modules/bootstrap/scss/bootstrap";

// Fonts
@font-face {
  font-family: "Poppins Bold";
  src: url("@/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("@/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

/****************************
 ***** 1. Global Style ******
 ***************************/
body {
  position: relative;
  background: #f2faff;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: $font-family-sans-serif;
}

.card {
  box-shadow: 0 0 30px #0129701a;
  border: 0;
  transition: $transitionSpeed;

  &:hover {
    box-shadow: 0 0 20px 4px #00000024;
  }
}

.container {
  @media (min-width: $lg-desktop) {
    max-width: 1200px;
  }
}

.content-section {
  .content-box {
    // width: 90%;
    max-width: 1396px;
    height: calc(100vh - 129px);
    background: #ffffff;
    box-shadow: 0px 10px 20px #00000014;
    padding: 20px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
}

a {
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.table th,
.table td {
  border: 1px solid #00000017;
}

.no-result-text {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.content-title {
  font-size: 22px;
  font-weight: normal;
  font-family: $font-family-medium;
}

.default-avatar {
  width: 50px;
  height: 50px;
  background: #f2faff;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 22px "Poppins Medium", sans-serif, Arial;
  color: #84ceff;
}

.content {
  &__title-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      font-size: 22px;
      margin-bottom: 0;
    }

    .addNewBtn {
      width: 150px;
      height: 40px;
      margin-top: 0;
      margin-left: 15px;
    }
  }
}

.content-title-bold {
  font-size: 22px;
  font-family: $font-family-title;
}

.small-title-bold {
  font-size: 14px;
  font-family: $font-family-title;
}

.hide-for-mobile {
  @media (max-width: $tablet) {
    display: none !important;
  }
}

.text-danger {
  color: $brand-danger;
}

.text-warning {
  color: $brand-warning;
}

.text-muted {
  color: #00b1b1;
}

.text-green {
  color: #41ce8e;
}

.text-larger {
  font-size: 1.15em;
}

.link-main {
  color: #000000;
  text-decoration: none;
  transition: $transitionSpeed;

  &:hover {
    color: #383838;
    text-decoration: underline;
  }
}
